@charset "utf-8";
/* CSS Document */

.container-fluid .row-fluid .span12 h3 {
  font-size: 3em;
  text-align: center;
  padding: 50px 0px;
}

.destaque_home {
	background-color: aqua;
	padding: 5px;
	transition: .8s all ease;
	margin-bottom: 20px;
}

.destaque_home:hover {
	box-shadow: 2px 2px 4px #000000;
	transition: .8s all ease;
}